<div class="flex flex-col">
  <div class="flex flex-row">
    <img class="object-contain h-52 sm:h-96 ml-10 xl:ml-52" src="assets/images/thegpworx_pixel_char_500.png">
    <div class="ml-5 md:ml-10">
      <div class="bg-gray-800 p-5 rounded-tl-3xl rounded-tr-3xl rounded-br-3xl text-gray-300">
        <p class="text-xl md:text-3xl lg:text-5xl">Hey I'm</p>
        <p class="text-5xl md:text-7xl lg:text-9xl pl-5 font-medium">GERARD</p>
      </div>
    </div>
  </div>

  <div class="border-t border-gray-700 mx-20 my-10 opacity-50 animate-bounce">&nbsp;</div>

  <div class="text-xl text-justify text-gray-300 px-5 sm:px-20">
    <p>I am a Web Developer with a love for coding and design. Based in Batangas, Philippines, I specialize in creating responsive, user-friendly websites and applications. My journey began in 2012 when I discovered my passion for web development. Since then, I've been continuously learning and applying the latest technologies to deliver top-notch digital solutions.</p>
    <p>With expertise in HTML, CSS, JavaScript, and modern frameworks like Angular, along with backend development using PHP Laravel, I offer a full-stack development service. I'm also experienced in database management and version control with Git.</p>
    <p>
      When I'm not coding, you'll find me exploring building <span class="font-semibold">GUNPLA</span>, gaming, or enjoying the great outdoors, hence the tag above,
      <span class="font-semibold">GUNPLA</span>
      <span class="material-icons text-xs mx-2">fiber_manual_record</span>
      <span class="mx-1 font-semibold">GAMES</span>
      <span class="material-icons text-xs mx-2">fiber_manual_record</span>
      <span class="font-semibold">MORE</span>.
    </p>
  </div>

  <div class="border-t border-gray-700 mx-20 my-10 opacity-50 animate-bounce">&nbsp;</div>
</div>
