<!-- <footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
    <a class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white" routerLink="/home">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.0" class="mr-2 h-8" viewBox="0 0 800.000000 800.000000" fill="none" preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,800.000000) scale(0.100000,-0.100000)" fill="#ffffff" stroke="none">
          <path
            d="M4070 4000 l0 -3040 280 0 280 0 2 457 3 457 150 23 c1422 218 2524 1022 2779 2028 323 1276 -786 2519 -2564 2875 -107 21 -234 44 -282 50 l-88 12 0 89 0 89 -280 0 -280 0 0 -3040z m740 2320 c1113 -226 1927 -893 2076 -1701 27 -142 24 -392 -5 -529 -39 -184 -95 -330 -188 -488 -211 -361 -547 -657 -1003 -886 -280 -140 -577 -241 -880 -300 -74 -15 -145 -29 -157 -32 l-23 -4 0 1985 c0 1884 1 1985 18 1985 9 0 82 -13 162 -30z" />
          <path
            d="M3760 6893 c-1324 -68 -2476 -622 -3032 -1458 -652 -980 -340 -2144 777 -2895 481 -323 1107 -556 1743 -647 l122 -17 0 -123 0 -123 280 0 280 0 0 1370 0 1370 -280 0 -280 0 0 -990 0 -990 -25 0 c-44 0 -307 59 -447 99 -216 64 -379 127 -578 227 -456 229 -792 525 -1003 886 -93 158 -149 304 -188 488 -29 136 -32 387 -6 527 119 652 675 1222 1497 1536 350 134 715 211 1136 239 l174 11 0 249 0 248 -57 -2 c-32 -1 -83 -3 -113 -5z" />
        </g>
      </svg>
      TheGPWorx
    </a>
    <p class="my-6 text-gray-500 dark:text-gray-400">Open-source library of over 400+ web components and interactive
      elements built for better web.</p>
    <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Premium</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6 ">Campaigns</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Blog</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Affiliate Program</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">FAQs</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Contact</a>
      </li>
    </ul>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2021-2022 <a href="#"
        class="hover:underline">Flowbite™</a>. All Rights Reserved.</span>
  </div>
</footer> -->
