<div class="flex flex-col break-words">
  <div class="flex justify-center">
    <span class="text-4xl font-medium lg:text-9xl md:text-7xl">PROJECTS</span>
  </div>

  <div class="flex flex-col-reverse sm:flex-row justify-between my-8 sm:my-16">
    <div class="flex flex-col w-full sm:w-3/5 p-10 text-left sm:text-right text-base">
      <span class="font-medium text-2xl mb-2">Surefire Local Marketing Platform</span>
      <p>Surefire Local Marketing Platform (SLMP) is an all-in-one marketing software that helps businesses make online marketing easy.</p>
      <p>This platform allows clients to create and publish content to all their social media channels, send marketing text and emails to customers to increase repeat busines, track SEO results across keywords, update busines infor across 70+ channels at once, automate lead generation & sales, and streamline review management, monitoring, and replies.</p>

      <div class="mt-5 text-gray-500">
        <span>Laravel</span>
        <span class="material-icons text-xs mx-2">fiber_manual_record</span>
        <span>Angular</span>
      </div>
    </div>
    <div class="flex w-full justify-center sm:w-2/5 border-t border-l border-b border-gray-700 rounded-tl-xl rounded-bl-xl px-10 py-5">
      <img class="object-contain" src="assets/images/projects/slmp_screenshot.png">
    </div>
  </div>

  <div class="border-t border-gray-700 mx-20 my-5 opacity-50 animate-bounce">&nbsp;</div>

  <div class="flex flex-col sm:flex-row justify-between my-8 sm:my-16">
    <div class="flex w-full justify-center sm:w-2/5 border-t border-r border-b border-gray-700 rounded-tr-xl rounded-br-xl px-10 py-5">
      <img class="object-contain h-80" src="assets/images/projects/mopac_logo.png">
    </div>
    <div class="flex flex-col w-full sm:w-3/5 p-10 text-base">
      <span class="font-medium text-2xl mb-2">Mindanao State University Mobile Library Catalog</span>
      <p>This is an Android mobile application that is used to check for the availability of a certain publication that is housed in the Mindanao State University library. The app is called MOPAC or Mobile OPAC. OPAC stands for Online Publication Archiving.</p>

      <div class="mt-5 text-gray-500">
        <span>Android</span>
        <span class="material-icons text-xs mx-2">fiber_manual_record</span>
        <span>PHP</span>
      </div>
    </div>
  </div>

  <div class="border-t border-gray-700 mx-20 my-5 opacity-50 animate-bounce">&nbsp;</div>

  <div class="flex flex-col-reverse sm:flex-row justify-between my-8 sm:my-16">
    <div class="flex flex-col w-full sm:w-3/5 p-10 text-left sm:text-right text-base">
      <span class="font-medium text-2xl mb-2">St. Michael's College Audio Visual Center Reservation App</span>
      <p>This is an Android mobile application of a client who is from St. Michael's College Iligan City. The app is called AVC Reservation which stands for Audio Visual Center Reservation.</p>
      <p>The app allows for reservation of equipments in the audio visual center. The users are the dean and the instructors of the different colleges. The instructor sees the list of equipments available for reservation and when he/she makes one, it is then submitted and awaits for approval from the dean. When the dean approves the reservation, the app automatically notifies the user that it is now been approved and can be collected from the audio visual center.</p>

      <div class="mt-5 text-gray-500">
        <span>Android</span>
        <span class="material-icons text-xs mx-2">fiber_manual_record</span>
        <span>PHP</span>
      </div>
    </div>
    <div class="flex w-full justify-center sm:w-2/5 border-t border-l border-b border-gray-700 rounded-tl-xl rounded-bl-xl px-10 py-5">
      <img class="object-contain h-80" src="assets/images/projects/avc_logo.png">
    </div>
  </div>

  <div class="border-t border-gray-700 mx-20 my-5 opacity-50 animate-bounce">&nbsp;</div>

  <div class="flex flex-col sm:flex-row justify-between my-8 sm:my-16">
    <div class="flex w-full sm:w-2/5 border-t border-r border-b border-gray-700 rounded-tr-xl rounded-br-xl px-10 py-5">
      <img class="object-contain justify-center" src="assets/images/projects/dts_screenshot.png">
    </div>
    <div class="flex flex-col w-full sm:w-3/5 p-10 text-base">
      <span class="font-medium text-2xl mb-2">Document Tracking System</span>
      <p>This is a web portal used to store, manage and track electronic documents and electronic images of paper based information.</p>
      <p>Each document is assigned to specific users. The system then creates a unique chat session for the document and only those users assigned to it are included in the chat group. Each user has it's own designation and have specific privileges depending on the type of user. All users can edit their own profile. </p>

      <div class="mt-5 text-gray-500">
        <span>PHP</span>
        <span class="material-icons text-xs mx-2">fiber_manual_record</span>
        <span>JQuery</span>
      </div>
    </div>
  </div>

  <div class="border-t border-gray-700 mx-20 my-5 opacity-50 animate-bounce">&nbsp;</div>

  <div class="flex flex-col-reverse sm:flex-row justify-between my-8 sm:my-16">
    <div class="flex flex-col w-full sm:w-3/5 p-10 text-left sm:text-right text-base">
      <span class="font-medium text-2xl mb-2">MAK (Mobile AKAN): A Mobile Application on MSU Student AKAN Using Android Platform</span>
      <p>Akan ( pronounced Ak'un ) is the Student and Employee Online Service of MSU Marawi campus designed to provide academic and other related information for the students and employees of Mindanao State University - Marawi Campus. With MSU Akan, grades can be viewed online or thru the Kiosk located at the College of Information Technology (CIT).</p>
      <p>This mobile app allows students to make inquries about their enrolment, view and verify their grades and other records that the existing Akan kioks accomplishes but in a more accessible and convenient way for students to use.</p>

      <div class="mt-5 text-gray-500">
        <span>Android</span>
        <span class="material-icons text-xs mx-2">fiber_manual_record</span>
        <span>PHP</span>
      </div>
    </div>
    <div class="flex w-full justify-center sm:w-2/5 border-t border-l border-b border-gray-700 rounded-tl-xl rounded-bl-xl px-10 py-5">
      <img class="object-contain h-80" src="assets/images/projects/mak_logo.png">
    </div>
  </div>

  <div class="border-t border-gray-700 mx-20 my-5 opacity-50 animate-bounce">&nbsp;</div>

  <div class="flex flex-col sm:flex-row justify-between my-8 sm:my-16">
    <div class="flex w-full justify-center sm:w-2/5 border-t border-r border-b border-gray-700 rounded-tr-xl rounded-br-xl px-10 py-5">
      <img class="object-contain" src="assets/images/projects/sig_screenshot.png">
    </div>
    <div class="flex flex-col w-full sm:w-3/5 p-10 text-base">
      <span class="font-medium text-2xl mb-2">SIG Online Inventory System</span>
      <p>This is a web portal project that I created when I was an intern to help track inventory records at the company.</p>

      <div class="mt-5 text-gray-500">
        <span>PHP</span>
        <span class="material-icons text-xs mx-2">fiber_manual_record</span>
        <span>JQuery</span>
      </div>
    </div>
  </div>

  <div class="border-t border-gray-700 mx-20 my-5 opacity-50 animate-bounce">&nbsp;</div>

  <div class="flex flex-col-reverse sm:flex-row justify-between my-8 sm:my-16">
    <div class="flex flex-col w-full sm:w-3/5 p-10 text-left sm:text-right text-base">
      <span class="font-medium text-2xl mb-2">St. Michael's College Attendance Monitoring System</span>
      <p>This is an Android mobile application for a client who is a student at St. Michael's College Iligan City. The app is called CCAM which stands for College Classroom Attendance Monitoring. The app is connected to a webserver that contains all information about the college, courses and students.</p>

      <div class="mt-5 text-gray-500">
        <span>Android</span>
        <span class="material-icons text-xs mx-2">fiber_manual_record</span>
        <span>PHP</span>
      </div>
    </div>
    <div class="flex w-full justify-center sm:w-2/5 border-t border-l border-b border-gray-700 rounded-tl-xl rounded-bl-xl px-10 py-5">
      <img class="object-contain h-80" src="assets/images/projects/ccam_logo.png">
    </div>
  </div>

  <div class="border-t border-gray-700 mx-20 my-5 opacity-50 animate-bounce">&nbsp;</div>

  <div class="flex flex-col sm:flex-row justify-between my-8 sm:my-16">
    <div class="flex w-full justify-center sm:w-2/5 border-t border-r border-b border-gray-700 rounded-tr-xl rounded-br-xl px-10 py-5">
      <img class="object-contain" src="assets/images/projects/portex_screenshot.png">
    </div>
    <div class="flex flex-col w-full sm:w-3/5 p-10 text-base">
      <span class="font-medium text-2xl mb-2">Portex Online Examination</span>
      <p>Portex is an online Examination Portal that me and my partner worked on in one of our major subjects CSc 181N. It caters both enrollment and examination for students and instructors in our college.</p>

      <div class="mt-5 text-gray-500">
        <span>PHP</span>
        <span class="material-icons text-xs mx-2">fiber_manual_record</span>
        <span>JQuery</span>
      </div>
    </div>
  </div>

  <div class="border-t border-gray-700 mx-20 my-5 opacity-50 animate-bounce">&nbsp;</div>
</div>
